{# feedback form #}

<div class="container px-3 py-4">
    <h6 class="Bhaugolic-title">कृपया आपला अभिप्राय आम्हास कळवा</h6>
    <form id="feedback-form" class="conatiner">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {{ feedback_form.given_by.label }}
                {{ feedback_form.given_by }}
            </div>
            <div class="col">
                {{ feedback_form.email.label }}
                {{ feedback_form.email }}
            </div>
        </div>
        <div class="row col">
            {{ feedback_form.feedback_message.label }}
            {{ feedback_form.feedback_message }}
        </div>
        {{ feedback_form.about }}
        <button type="submit" class="btn btn-primary m-1" id="submit-feedback">Send</button>
    </form>
</div>