{% extends "frontend/layout.html" %}

{% load static %}
{% block custom_styles %}
  <style>
    .names {
      text-align: center;
      margin: 5px;
      border-radius: 30px;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      justify-content: center;
      box-shadow: 0px 2px 3px rgb(0, 255, 128);
    }

    @media screen and (min-width: 700px) {
      .list-group-item {
        font-size: larger;
        width: 70%;
      }
    }

    @media screen and (max-width: 700px) {
      .list-group-item {
        width: 90%;
      }
    }

    .names:hover {
      cursor: default;
      size: 100px !important;
      font-size: 25px;
      box-sizing: border-box;
    }
    .last-name{
      margin-bottom: 5px !important;
    }
    .info {
      text-align: justify;
      background-color: rgb(55, 64, 65);
      color: aliceblue;
      padding: 20px;
      margin: 10px;
      border-radius: 20px;
      font-size: 20px;
      box-shadow: 0px 0px 6px rgb(0, 255, 128)
    }
    .modal-body{
    background-color: rgb(73, 71, 71);
    }
    .modal-body li{
      width:auto;
    }
  </style>
{% endblock %}

{% block nav_items %}
<div class="d-flex ml-auto">
  <li class="nav-item">
    <a class="nav-link" id="notice-board">सूचनाफलक</a>
  </li>
  </li>
  <li class="nav-item">
    <a href="/admin" class="nav-link">Login</a>
  </li>
</div>
{% endblock %}

{% block body %}
  <p class="info">&emsp;&emsp;&emsp;कपिलेश्वर ही ग्रामपंचायत कोल्हापुर लोकसभा व राधानगरी विधानसभा मतदार संघातील प्रमुख
    गाव आहे. गावची एकुण मतदार संख्या 2257 आहे. यामध्ये 1178 पुरुष व 1079 महिला मतदार आहेत
    गावची ग्रामपंचायत सदस्य संख्या 9 आहे, ही 3 प्रभागामध्ये विभागली असुन प्रत्येक प्रभागामधुन 3 असे एकुण 9 सदस्य निवडुन
    त्यातुन सरपंचांची निवड केली जाते.
  </p>

  <ul class="list-group">
    <li class="list-group-item names"
      style="font-weight: 900; font-size: 25px; text-align: center;text-shadow: 2px 2px 4px #e43333;background-color: rgb(166, 109, 219);">
      विद्यमान सरपंच आणि सदस्यांची माहिती</li>



    <li class="font-weight-bolder list-group-item list-group-item-warning names">
      <pre> सौ. माया शिवाजी भोसले    	        सरपंच </pre>
    </li>
    <li class="font-weight-bolder list-group-item list-group-item-danger names">
      <pre>   सौ. तेजस्विनी तानाजी गुरव  		 उपसरपंच </pre>
    </li>
    <li class="font-weight-bolder list-group-item list-group-item-info names">
      <pre> सौ. द्रोपदी दिनकर फराकटे  		सदस्या </pre>
    </li>
    <li class="font-weight-bolder list-group-item list-group-item-info names">
      <pre> सौ. संजीवनी संजय गवते   		सदस्या</pre>
    </li>
    <li class="font-weight-bolder list-group-item list-group-item-info names">
      <pre> सौ. शुभांगी पांडुरंग पाटील 			सदस्या </pre>
    </li>
    <li class="font-weight-bolder list-group-item list-group-item-info names">
      <pre> श्री. राजेंद्र दिनकर पाटील 			सदस्य </pre>
    </li>
    <li class="font-weight-bolder list-group-item list-group-item-info names">
      <pre>श्री. सुहास दत्तात्रय पाटील 			सदस्य</pre>
    </li>
    <li class="font-weight-bolder list-group-item list-group-item-info names">
      <pre>श्री. बाजीराव केरबा भोई 			सदस्य</pre>
    </li>
    <li class="font-weight-bolder list-group-item list-group-item-info names">
      <pre>श्री. आनंदा बापू कांबळे 			सदस्य</pre>
    </li>
    <li class="font-weight-bolder list-group-item list-group-item-dark names">
      <pre> श्री. व्ही. एस. खोत 			ग्रामसेवक</pre>
    </li>
    <li class="font-weight-bolder list-group-item list-group-item-light names">
      <pre>         श्री. अनिल शंकर पसारे 			क्लार्क कम शिपाई </pre>
    </li>
    <li class="font-weight-bolder list-group-item list-group-item-light names">
      <pre> श्री. अनिल बापूसो चौगले 			शिपाई </pre>
    </li>
    <li class="font-weight-bolder list-group-item list-group-item-light names last-name">
      <pre>         श्री. अशोक केशव पाटील 			न.पा.पु.कर्मचारी </pre>
    </li>
  </ul>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 900;">नागरिकांना महत्वाच्या सुचना</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            {% for notice in notices %}
            <li class="list-group-item list-group-item-primary"> {{ notice.notice_message }} 
              {% if notice.has_attatchment %}
              <a class="btn btn-sm btn-secondary" href="{% get_media_prefix %}{{ notice.attachment }}">अधिक माहितीसाठी येथे क्लिक करा</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Load feedback form -->
    {% include "frontend/feedback_form.html" with feedback_form=feedback_form %}
  
{% endblock %}

{% block script %}
  <script>
    document.addEventListener("DOMContentLoaded", ()=> {
      console.log("loaded...")
      $("#exampleModal").modal("show");
    })
    document.getElementById("notice-board").addEventListener("click", () => {
      $("#exampleModal").modal("show");
    })
    const feedbackUrl = "{% url 'frontend:feedback' %}";
  </script>
  <script src="{% static 'frontend/send-feedback.js' %}"></script>
{% endblock %}