{% extends "frontend/layout.html" %}

{% load static %}

{% block body %}

  <!-- Home page carousel -->
  <div id="carouselExampleIndicators" class="carousel slide col-md-12 carousel-h" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="3000">
        <img class="d-block w-100" src="{% static 'frontend/images/original/Grampanchayat.jpg' %}" alt="Grampanchayat pic">
      </div>
      <div class="carousel-item" data-interval="3000">
        <img class="d-block w-100" src="{% static 'frontend/images/original/Prathmic shala.jpg' %}" alt="Marathi shala">
      </div>
      <div class="carousel-item" data-interval="3000">
        <img class="d-block w-100" src="{% static 'frontend/images/original/Kapileshwar.jpg' %}" alt="Village top view">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Main Info  -->
  <p class="mainInfo">&emsp;&emsp;&emsp;मौजे कपिलेश्वर हे गाव दुधगंगा नदीच्या काठी वसलेले आहे. गावामध्ये
    श्री. कपिलनाथ हे महादेवाचे प्राचीन मंदिर आहे. यावरून या गावाला कपिलेश्वर हे नाव पडले आहे. पुराणामध्ये अशी दंतकथा आहे
    की श्री. चक्रेश्वरवाडी येथे पांडव कालीन चक्रेश्वराचे मंदिर आहे. या ठिकाणी एक गुराखी शिखरावर गाई-गुरे चरण्यासाठी नेत
    होता. सायंकाळच्या वेळी एक गाय तेथील पाषाणावर दुधाची धार आपणहून अर्पण करीत होती व घरी येत होती. घरी आल्यावर दूध
    काढायच्या वेळी गुराख्याला समजायचे की ही गाय इतर गायींसारखी दूध देत नाही. एकेदिवशी गुराख्याने गाईच्या दूधाचे
    नेमके काय होते हे पहायचे ठरवले. त्यानंतर ती गाय पाषाणावर दूध अर्पण करत असताना गुराख्याने पहिले,
    गुराख्याला याचा राग आला. त्यातून गुराख्याने आपल्या जवळची कुऱ्हाड त्या पाषाणवर मारली. त्यावेळी त्याचे चार भाग चार
    दिशेला निघून गेले, यातील पूर्व दिशेला तिटवे या गावात श्री. चक्रेश्वर, पश्चिमेला गुडाळ या गावी श्री. गुडाळेश्वर,उत्तरेला शिरसे या श्री.शिरशेश्वर आणि
    दक्षिणेला कपिलेश्वर या गावी श्री.कपिलेश्वर व मुळ चक्रेश्वरवाडी या ठिकाणी मुख्य श्री.चक्रेश्वर अशी महादेवाची पाच
    लिंगे स्थापन झाली. यावरून या गावाला कपिलेश्वर हे नाव पडले आहे.
    <br>
    &emsp;&emsp;&emsp;गावाचे धार्मिक वैशिष्ठ असे की, गावाच्या चारही दिशेला विविध देवांचे अधिष्ठान आहे, यात पूर्वेला
    ग्रामदैवत एकवीरा देवी, पश्चिमेला श्री. नरसिंह व श्री. म्हसोबा देवालय,उत्तरेला श्री. भैरी आणि दक्षिणेला श्री.
    कपिलेश्वर हे देवालये आहेत.
  </p>
{% endblock %}
